* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.button-container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main {
    width:95%;
    height:50px;
    text-align:left;
    font-size:20px;
    padding:14px;
    display:flex;
    align-items: center;
    outline:none;
    border:none;
    background-color:antiquewhite;
    border:1px solid rgb(245, 224, 199);
}

.main:hover {
    background-color:rgb(255, 225, 185);
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}

.text-container {
    width:95%;
    background-color:rgb(253, 253, 239);
}

p {
    padding:14px;
    display:none;
}

