* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 255, 255);
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("images/rainy.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.info-container {
    height: 100vh;
    width:30%;
    background-color: black;
    opacity: .6;
    float: right;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    position: relative;
}

.overlay {
    width:30%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    opacity: .3;
}

.big-deg-container{
    font-size: 150px;  
    display:flex;
    flex-direction: row;  
}

.degree-symbol{
    height: 40px;
}
.degree-symbol img{
    height: 134px;
    width: 67px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.place-container{
    font-size: 40px;
}

.date-container {
    font-size:15px;
}

.left-details {
    display:flex;
    flex-direction: row;
    width: 600px;
    height:167px;
    float: left;
    position: absolute;
    left: 100px;
    top: 650px;
}

.place-date-container{
    display:flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 20px;
}