* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("images/rainy.jpeg");
    background-size: cover;    
}

.info-container {
    height: 100vh;
    width:;
    background-color: aqua;
}