.icon-panel-container {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    background-color: #555;
    width:450px;
    border-radius:3px;
}

.icon {
    width:90px;
    height:55px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.icon:hover{
    background-color:black;
}

.icon:active{
    background-color:green;
}

i {
    font-size:36px;
    color:#fff;
}